.highlight-panel {
    margin-bottom: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.highlight-panel .inner-panel {
    display: flex;
    flex-wrap: wrap;
}

.highlight-panel .highlight {
    position: relative;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;

}

.highlight-panel .highlight .img-cont {
    padding-bottom: 48%;
    position: relative;
}

.highlight-panel .highlight .img-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.highlight-panel .highlight:nth-child(odd) {
    border-right: 2px solid white;
}

.highlight-panel .highlight:nth-child(even) {
    border-left: 2px solid white;
}

.highlight-panel .highlight .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.highlight-panel .highlight .title h4 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 19px;
    color: white;
    margin: 0;
    letter-spacing: 1px;
    text-align: center;
}

@media (min-width: 641px) {
    .highlight-panel .highlight .title h4 {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 1025px) {
    .highlight-panel {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        overflow: hidden;
    }
    .highlight-panel .inner-panel {
        margin: 0 -2px;
    }
    .highlight-panel .highlight {
        flex-basis: 16.6666%;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        border-left: 2px solid white;
    }
    .highlight-panel .highlight .img-cont {
        padding-bottom: 100%;
    }
    .highlight-panel .highlight .title {
        width: 60%;
    }
    .highlight-panel .highlight .title h4 {
        font-size: 36px;
        line-height: 40px;
    }
}