.header-section .search-cont {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.primary-search {
    position: absolute;
    top: 0;
    right: 25px;
    transition: opacity 0.4s;
    opacity: 0;
    pointer-events: none;
}

.primary-search.active {
    opacity: 1;
    pointer-events: all;
}

.primary-search input {
    margin: 0;
    background: transparent;
    box-shadow: 0px 0px;
    border: 0;
    border-bottom: 1px solid white;
    padding: 0;
    color: white;
    height: 25px;
    min-width: 165px;
}

.primary-search input:focus {
    background: transparent;
    border-bottom: 1px solid white;
}

@media (min-width: 1025px) {
    .header-section .search-cont {
        margin-right: 25px;
    }
}