.header-slideshow {
    position: relative;
}

.header-slideshow .home-header .item {
    position: relative;
}

.header-slideshow .home-header .item .img-cont img {
    display: block;
    width: 100%;
}

.header-slideshow .home-header .item .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65px;
    width: 90%;
    max-width: 500px;
    background:url('../includes/public/assets/images/logo-sm.png')center/contain no-repeat;
}

.header-slideshow .scroller {
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
}

@media (min-width: 1025px) {
    .header-slideshow,
    .header-slideshow .home-header,
    .header-slideshow .home-header .item,
    .header-slideshow .home-header .item .img-cont {
        height: 100vh;
    }
    .header-slideshow .home-header .item .img-cont img {
        display: none;
    }
    .header-slideshow .home-header .item .logo {
        height: 140px;
        max-width: 785px;
        background:url('../includes/public/assets/images/logo-lg.png')center/contain no-repeat;
    }
}